body {
    background: rgb(6, 49, 107);
    color: aliceblue;
    font-family: KoHo;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header {
    height: 10vh;
    z-index: 2000;
    position: sticky;
    position: -webkit-sticky;
    top: 2%;
    width: 100%;
}

h2 {
    font-family: Lobster;
}

.searchbox {
    margin-bottom: 3%;
    z-index: 2000;
    position: sticky;
    position: -webkit-sticky;
    top: 8%;
}

#search {
    border-radius: 6px 28px 6px 28px;
}

#fade-foot,
#fade-head {
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    z-index: 2;
}

#fade-head {
    height: 20%;
    background: -webkit-linear-gradient(rgb(4 20 68) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: -moz-linear-gradient(rgb(4 20 68) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: -o-linear-gradient(rgb(4 20 68) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: linear-gradient(rgb(4 20 68) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: -ms-linear-gradient(rgb(4 20 68) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    z-index: 2;
}

#fade-foot {
    bottom: 0;
    height: 40vh;
    background: -webkit-linear-gradient(rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: -moz-linear-gradient(
            /*firefox*/
            rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: -o-linear-gradient(
            /*opera browser*/
            rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: linear-gradient(rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: -ms-linear-gradient(
            /*microsoft ie*/
            rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    pointer-events: none
}

.ROW {
    margin-top: 1vh;
    /*overflow: hidden; v10*/
    text-align: center;
    overflow-wrap: break-word;
    height: auto;
    z-index: 0;
    transition: all 0.5s;
}

.pol {
    /*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; v10*/
    margin-left: 6%;
    margin-right: 2%;
    margin-bottom: 1%;
    transition: all 0.5s;
}

.eng {
    border-left: 1px gray solid;
    color: yellow;
    /*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; v10*/
    margin-left: 2%;
    margin-right: 7%;
    width: 200px;
    margin-bottom: 1%;
}

/*.HOVER{
    text-overflow: auto;
    overflow: visible;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}v10*/

@media (orientation: landscape) {
    .ROW {
        font-size: 1.3vw;
    }
}

@media (orientation: portrait) {
    .ROW {
        font-size: 4vw;
    }
}

fieldset {
    border: 1px gray solid;
    padding: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 69%, rgba(6, 49, 107, 1)), url("https://flagcdn.com/120x90/pl.png"), linear-gradient(to left, rgba(255, 255, 255, 0), rgba(6, 49, 107, 1)), url("https://flagcdn.com/120x90/gb.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, left, right, right;
    background-size: 35% 120%, 35% 120%, 12% 120%, 12% 120%;
    background-position-x: -39%, -40%, 101%, 102%;
}

legend {
    font-size: 0.5em;
    text-align: right;
    margin-right: 10%;
}

.u1 {
    border: 2px red solid;
    margin-left: -2%;
    border-radius: 6px 28px 6px 28px;
    transform: scale(1.05);
    position: relative;
}

.form-switch {
    position: absolute;
    width: auto;
    text-align: right;
    right: 0;
    top: 10%;
}

.form-check-input:checked {
    background-color: #000000;
    border-color: gray;
}

.disp {
    display: none;
}

/*animations*/

.appear_left {
    animation: appearL 0.3s ease-out 0s 1 normal forwards;
    position: relative;
    z-index: 1;
}

.appear_right {
    animation: appearR 0.3s ease-out 0s 1 normal forwards;
    position: relative;
    z-index: 1;
}

@keyframes appearL {
    0% {
        opacity: 0;
        transform: translate(-20vw, 0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes appearR {
    0% {
        opacity: 0;
        transform: translate(20vw, 0);
    }

    100% {
        opacity: 1;
    }
}

.hide {
    animation: hideMe .3s linear 0s 1 normal forwards;
}

.unHide {
    animation: unHide .3s linear 0s 1 normal forwards;
}

@keyframes hideMe {
    0% {
        display: block;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes unHide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide {
    animation: _slide .3s ease-out 0s 1 normal forwards;
}

@keyframes _slide {
    0.0% {
        transform: translate(0, 50vh);
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}

/*.go-up {
    animation: moveUp 0.04s linear 0s 1 normal forwards;
}

.go-down {
    animation: moveDown 0.04s linear 0s 1 normal forwards;
}

@keyframes moveDown {
    0.0% {}

    100% {
        transform: translate(0, 11vh);
    }
}

@keyframes moveUp {
    0.0% {}

    100% {
        transform: translate(0, -11vh);
    }
}*/

/*.go-up-fast {
    animation: moveUpFast 0.0002s linear 0s 1 normal forwards;
}

.go-down-fast {
    animation: moveDownFast 0.0002s linear 0s 1 normal forwards;
}

@keyframes moveDownFast {
    0.0% {}

    100% {
        transform: translate(0, 11vh);
    }
}

@keyframes moveUpFast {
    0.0% {}

    100% {
        transform: translate(0, -11vh);
    }
}*/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, #34495e, #2575aa, #34495e);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(125deg, #2575aa, #34495e, #2575aa);
}

/* thanks to https://codepen.io/comehope/pen/KBxYZg under MIT license */
/*
Copyright <2021> <Comehope>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.loader {
    width: 16em;
    height: 8em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    bottom: 0;
}

.loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
}

.loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
}

.loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: white;
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
}

.loader span:nth-child(2) {
    animation-delay: 0.075s;
}

.loader span:nth-child(3) {
    animation-delay: 0.15s;
}

@keyframes run {
    0% {
        left: -5%;
    }

    10%,
    60% {
        left: calc((100% - 5%) / 2);
    }

    70%,
    100% {
        left: 100%;
    }
}

@keyframes rotating {

    0%,
    10% {
        transform: rotate(0deg);
    }

    60%,
    100% {
        transform: rotate(-1turn);
    }
}
