body {
    background: rgb(6, 49, 107);
    color: aliceblue;
    font-family: KoHo;
}

.header {
    height: 10vh;
    z-index: 2000;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
}

.searchbox {
    margin-bottom: 5%;
    z-index: 2000;
    position: sticky;
    position: -webkit-sticky;
    top: 5%;
}

#search {
    border-radius: 6px 28px 6px 28px;
}

#fade-foot,
#fade-head {
    position: fixed;
    width: 100%;
}

#fade-head {
    height: 15%;
    background: -webkit-linear-gradient(rgba(6, 29, 99, 1) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: -moz-linear-gradient(
            /*firefox*/
            rgba(6, 29, 99, 1) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: -o-linear-gradient(
            /*opera*/
            rgba(6, 29, 99, 1) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: linear-gradient(rgba(6, 29, 99, 1) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
    background-image: -ms-linear-gradient(
            /*microsoft ie*/
            rgba(6, 29, 99, 1) 0%, rgba(6, 49, 107, 1) 80%, rgba(6, 2, 69, 0) 100%);
}

#fade-foot {
    bottom: 0;
    height: 40vh;
    background: -webkit-linear-gradient(rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: -moz-linear-gradient(
            /*firefox*/
            rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: -o-linear-gradient(
            /*opera browser*/
            rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: linear-gradient(rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    background-image: -ms-linear-gradient(
            /*microsoft ie*/
            rgba(6, 2, 69, 0) 0%,
            rgba(6, 2, 69, 0.9) 100%);
    pointer-events: none
}

.ROW {
    margin-top: 1vh;
    overflow: hidden;
    font-size: 1.8em;
    text-align: center;
    height: 10vh;
}

fieldset {
    border: 1px gray solid;
    padding: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 69%, rgba(6, 49, 107, 1)), url("https://flagcdn.com/120x90/pl.png"), linear-gradient(to left, rgba(255, 255, 255, 0), rgba(6, 49, 107, 1)), url("https://flagcdn.com/120x90/gb.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, left, right, right;
    background-size: 35% 120%, 35% 120%, 12% 120%, 12% 120%;
    background-position-x: -39%, -40%, 101%, 102%;
}

legend {
    font-size: 0.5em;
    text-align: right;
    margin-right: 10%;
}

.ROW:hover {
    height: 20vh;
}

.pol {}

.eng {
    border-left: 1px gray solid;
    color: yellow;
}

.u1 {
    font-size: 2.4em;
    border: 2px red solid;
    width: 104%;
    margin-left: -2%;
    border-radius: 6px 28px 6px 28px;
    transform: scale(1.05);
    z-index: -1;
    position: relative;
}

/*animations*/
.go-up {
    animation: moveUp 0.04s linear 0s 1 normal forwards;
}

.go-down {
    animation: moveDown 0.04s linear 0s 1 normal forwards;
}

@keyframes moveDown {
    0.0% {}

    100% {
        transform: translate(0, 11vh);
    }
}

@keyframes moveUp {
    0.0% {}

    100% {
        transform: translate(0, -11vh);
    }
}

.go-up-fast {
    animation: moveUpFast 0.0002s linear 0s 1 normal forwards;
}

.go-down-fast {
    animation: moveDownFast 0.0002s linear 0s 1 normal forwards;
}

@keyframes moveDownFast {
    0.0% {}

    100% {
        transform: translate(0, 11vh);
    }
}

@keyframes moveUpFast {
    0.0% {}

    100% {
        transform: translate(0, -11vh);
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    /*border: 1px solid #2575aa;*/
    /*border-radius: 10px;*/
    background: black;
}

::-webkit-scrollbar-thumb {
    /*background: yellowgreen;*/
    background: linear-gradient(125deg, #34495e, #2575aa, #34495e);
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(125deg, #2575aa, #34495e, #2575aa);
}
